/* Copy and paste your CSS from CodePen into here */
html {
    background-color: powderblue;
  }
  
  #main {
  font-family: Georgia;
  }
  
  #title {
    text-align: center;
    text-decoration: underline;
  }
  
  #tagline{
    text-align: center;
    color: purple;
  }
  
  #image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  #img-caption {
    font-size: 10px;
   text-align: center;
  }
  
  h5 {
    text-align: center;
  }